@import '../../global/utils/init';

.site-branding {
  display: flex;
  align-items: center;
}

.site-logo {
  margin-right: 30px;
}

.site-name {

  a {
    color: $color-mine-shaft;
    font-size: 1.75rem;
    text-decoration: none;

    @include breakpoint($bp-md) {
      font-size: 2.5rem;
    }
  }
}
