{{ attach_library('collective_theme/organization-information') }}

{%
  set classes = [
    'organization-info',
    'l-2x'
  ]
%}

{% import '@collective_theme/icons/_icons-macro.twig' as icons %}
{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<section {{ attributes|raw }}>
  {%
    include '@collective_theme/heading/heading.twig' with {
      heading: {
        title: group_heading.title,
        heading_level: heading_level|default('2'),
        attributes: title_attributes,
        modifier: 'organization-info__group-heading'
      }
    }
  %}

  <div class="l-container">
    {% for group_section in group_sections %}
      <div class="organization-info__group-section">
        <div class="organization-info__group-subheading organization-info__toggle">
          {% if group_section.subheading %}
            {%
              include '@collective_theme/heading/heading.twig' with {
                heading: {
                  title: group_section.subheading,
                  heading_level: heading_level|default('3'),
                  attributes: title_attributes,
                }
              }
            %}
          {% endif %}
          <button class="organization-info__toggle-icon closed">
            {{ icons.get('icon-chevron') }}
          </button>
        </div>
        <div class="organization-info__fields">
          {% for field in group_section.fields %}
            <div class="organization-info__field-label">{{ field.label }}</div>
            <div class="organization-info__field-value">{{ field.value }}</div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
