{{ attach_library('collective_theme/site-footer') }}

<div class="site-footer footer{% if modifier %} {{ modifier }} {% endif %}
  {{- attributes.class ? attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="site-footer__inner">
    <div class="site-footer__logo">
      {% if site_branding %}
        {%
          include '@collective_theme/site-branding/site-branding.twig' with {
            links: site_branding.link
          } only
        %}
      {% endif %}
    </div>
    <div class="site-footer__text">
      {% if text_block %}
        {%
          include '@collective_theme/body-text/body-text.twig' with {
            body_text: text_block
          } only
        %}
      {% endif %}
    </div>
    {% if social %}
      {%
        include '@collective_theme/social-menu/_social-menu.twig' with
          {
            items: social
          }
      %}
    {% endif %}
  </div>
  <div class="site-footer__addendum">
    <div class="site-footer__inner">
      {{ '&copy; '|convert_encoding('UTF-8', 'HTML-ENTITIES') ~ "now"|date("Y")}}, {{ copyright }}
      {% if menu_items %}
        {%
          include '@collective_theme/menu/menu.twig' with
            {
              items: menu_items,
              modifier: 'site-footer__menu',
            }
        %}
      {% endif %}
    </div>
  </div>
</footer>
