{{ attach_library('collective_theme/page-title') }}

{%
  set classes = [
    'page-title'
  ]
%}

<div class="page-title">
  {%
    include '@collective_theme/heading/heading.twig' with {
      heading: {
        title: title,
        heading_level: heading_level|default('1'),
        attributes: title_attributes,
      }
    }
  %}
</div>
