// Styling for Search Facet Blocks.

// Import site utilities.
@import '../../global/utils/init';

.facet-filters {
  flex: 1 0 auto;

  @include breakpoint($bp-md) {
    margin-left: 50px;
    margin-top: 15px;
  }
}

.block-facets {
  border: 1px solid $color-gray-xlt;
  padding: 15px;
  margin-bottom: 15px;

  ul {
    list-style: none;
  }

  // Need to be specific enough to override module styles.
  .glossaryaz {
    &.yes-results {
      background-color: $color-wedgewood;
      min-height: 3em;

      a {
        text-decoration: none;

        &.is-inactive:hover {
          background-color: $color-tacao;
        }
      }
    }
  }
}
