{{ attach_library('collective_theme/heading') }}

{%
  set classes = [
    'heading',
    heading.modifier,
  ]
%}

<h{{ heading.heading_level|default('3') }} class="heading {{ heading.modifier ? ' ' ~ heading.modifier }}
  {{- heading.attributes.class ? heading.attributes.class -}}"
  {{- heading.attributes ? heading.attributes|without(class) -}}>
  {% if heading.url %}
    <a href="{{ heading.url }}">{{ heading.title }}</a>
  {% else %}
    {{ heading.title }}
  {% endif %}
</h{{ heading.heading_level|default('3') }}>
