// Colors.
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.
//
// If you need help naming colors check out:
// http://chir.ag/projects/name-that-color/

// Standard.
$color-white: #ffffff;
$color-alabaster: #fcfcfc;
$color-black: #1b2b34;
$color-mine-shaft: #292929;

// Primary.
$color-wedgewood: #557a95;
$color-scarpa-flow: #5d5b62;
$color-bronco: #b0a196;
$color-tacao: #f5ae79;
$color-mandy: #ec5f67;
$color-tan-hide: #f99157;
$color-saffron-mango: #fac863;
$color-de-york: #99c794;
$color-tradewind: #5fb3b3;
$color-danube: #6699cc;
$color-venice-blue: #055a8e;
$color-deep-cerulean: #0071b3;

// Grays.
$color-gray-dk: #343d46;
$color-gray-mid: #4f5b66;
$color-gray-lt: #65737e;
$color-gray-xlt: #a7adba;
$color-athens-gray: #f1f2f4;
