{{ attach_library('collective_theme/social-icons') }}
{% import '@collective_theme/icons/_icons-macro.twig' as icons %}

{% for item in items %}
  <a href="{{ item.url }}" class="social-icon">
    {{ icons.get(item.title|lower) }}
  </a>
{% endfor %}
