@import '../../global/utils/init';

.social-icon {
  fill: $color-wedgewood;
  text-decoration: none;

  &:not(:last-of-type) {
    margin-right: 30px;
  }

  .icon {
    width: 40px;
    height: 40px;
    max-width: 100%;
  }

}
