// Buttons
//
// This is the button component. It provides basic styles for buttons throughout the site.

// Import site utilities.
@import '../../global/utils/init';

.button {
  display: inline-block;
  background-color: $color-venice-blue;
  color: $color-white;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 10px 20px;
  text-decoration: none;

  &:hover,
  &:active {
    color: $color-white;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.5);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.button--secondary {
  padding: 10px 20px;
  color: $color-black;
  background-color: $color-tacao;
  border: 0;

  &:hover,
  &:active {
    color: $color-white;
    text-decoration: none;
    background-color: darken($color-tacao, 15);
  }
}
