{{ attach_library('collective_theme/button') }}

{% if url %}
  <a href="{{ url }}" class="button {{ modifier|join(' ') }}">
    {{ text }}
  </a>
{% else %}
  <button class="button {{ modifier|join(' ') }}">
    {{ text }}
  </button>
{% endif %}
