// Pager
//
// Styles for the pager component.

// Import site utilities.
@import '../../global/utils/init';

.pager {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.pager__items {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -5px 30px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  list-style: none;
}

.pager__item {
  margin: 5px;
  padding: unset;

  &.is-active,
  &:hover {
    background-color: $color-tacao;
    border-radius: 100%;
  }

  &.pager__item--next,
  &.pager__item--previous {
    align-items: center;
    background-color: $color-wedgewood;
    border-radius: 50%;
    display: flex;
    margin: 5px;
    height: 30px;
    position: absolute;
    top: 0;

    .pager__control {
      height: 100%;
    }
  }

  &.pager__item--previous {
    left: -5px;
  }

  &.pager__item--next {
    right: -5px;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.pager__control {
  align-items: center;
  color: $color-wedgewood;
  display: flex;
  font-size: 1.125rem;
  justify-content: center;
  line-height: 1.5;
  height: 30px;
  width: 30px;
  text-decoration: none;

  &:hover {
    color: $color-mine-shaft;
    text-decoration: none;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  svg {
    display: flex;

    path {
      fill: $color-white;
    }
  }
}
