{#
/**
 * @file
 * Macro for embedding svg icons
 *
 * @var string name
 *   The name of the svg to embed. It should match one of the svgs
 *   that exist within the icons/assets/ directory.
 *
 * Implementation:
 *
 * {% import '@collective_theme/icons/_icons.twig' as icons %}
 * {{ icons.get(item.icon) }}
 */
#}
{% macro get(name) %}
  {% include '@collective_theme/icons/assets/' ~ name ~ '.svg' ignore missing %}
{% endmacro %}
