{{ attach_library('collective_theme/text-card') }}

{%
  set classes = [
    'text-card'
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<div {{ attributes|raw }}>
{%
  include '@collective_theme/body-text/body-text.twig' with {
    body_text: body_text
  }
%}
</div>