{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{%
  include '@collective_theme/breadcrumb/breadcrumb.twig' with {
    breadcrumb: breadcrumb
  } only
%}
