{{ attach_library('collective_theme/event-details') }}

{%
  set classes = [
    'event-details',
    'l-2x'
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<div {{ attributes|raw }}>
  <div class="l-container">
    <div class="event-details__left">
      {%
        include '@collective_theme/heading/heading.twig' with {
          heading: {
            title: title,
            heading_level: heading_level|default('3'),
            attributes: title_attributes,
            modifier: 'event-details__title'
          }
        }
      %}

      <div class="event-details__summary">
        {{ summary }}
      </div>
    </div>
    <div class="event-details__right">
      {% if register_button %}
        {%
          include '@collective_theme/button/button.twig' with {
            url: register_button.url,
            text: register_button.text,
            modifier: register_button.modifier
          } only
        %}
      {% endif %}
      {% if location %}
        <div class="event-details__address">
          <div class="event-details__address-label"> Location: </div>
          {{ location }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
