// Styling for Organization Teasers.

// Import site utilities.
@import '../../global/utils/init';

.organization-teaser {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.organization-teaser__content-container {
  display: flex;

  @include breakpoint($bp-under-sm) {
    flex-direction: column;
  }
}

.organization-teaser__title {
  text-decoration: none;
}

.organization-teaser__image {
  margin-right: 15px;
  flex-basis: 33%;

  @include breakpoint($bp-under-sm) {
    margin-bottom: 15px;
  }
}

.organization-teaser__content {
  flex-basis: 70%;
}

.organization-teaser__summary {
  margin-bottom: 15px;
}

.organization-teaser__type {
  margin-bottom: 15px;

  a {
    color: $color-gray-dk;
  }
}

.organization-teaser__contact-container {
  display: none;
}

.organization-teaser__contact-toggle {
  display: flex;
  justify-content: flex-end;
  background-color: unset;
  border: 0;
  border-bottom: 1px solid $color-gray-mid;
  margin-bottom: 15px;
  padding: 5px;
  text-align: right;
}

.organization-teaser__toggle-text {
  font-size: 0.9rem;
}

.organization-teaser__contact-item {
  margin-bottom: 15px;
}

.organization-teaser__toggle-icon {
  margin-left: 15px;

  svg {
    width: 24px;
    height: 12px;
    transition: transform $transition;
  }

  &.closed {
    svg {
      transform: rotate(90deg);
    }
  }

  &.open {
    svg {
      transform: rotate(-90deg);
    }
  }
}
