{{ attach_library('collective_theme/organization-teaser') }}

{%
  set classes = [
    'organization-teaser'
  ]
%}

{% import '@collective_theme/icons/_icons-macro.twig' as icons %}
{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<div {{ attributes|raw }}>
  <a class="organization-teaser__title" href="{{ link }}">
    {%
      include '@collective_theme/heading/heading.twig' with {
        heading: {
          title: title,
          heading_level: heading_level|default('2'),
          attributes: title_attributes,
        }
      }
    %}
  </a>
  <div class="organization-teaser__content-container">
    {% if image %}
      <div class="organization-teaser__image">
        {{ image }}
      </div>
    {% endif %}
    <div class="organization-teaser__content">
      <div class="organization-teaser__type">
        {{ organization_type }}
      </div>
      {% if summary %}
        <div class="organization-teaser__summary">
          {{ summary|raw }}
        </div>
        <a class="organization-teaser__link" href="{{ link }}">{{ "Read more"|t }} {{ icons.get('icon-chevron') }}</a>
      {% endif %}
    </div>
  </div>
  <button class="organization-teaser__contact-toggle">
    <div class="organization-teaser__toggle-text">{{ "Show contact information"|t }}</div>
    <div class="organization-teaser__toggle-icon closed">
      {{ icons.get('icon-chevron') }}
    </div>
  </button>
  <div class="organization-teaser__contact-container" aria-hidden="true" aria-expanded="false">
    {% if (contact_info.address) %}
      <div class="organization-teaser__contact-item">
        <h4 class="organization-teaser__contact-title">{{ "Address"|t }}</h4>
        {{ contact_info.address }}
      </div>
    {% endif %}
    {% if (contact_info.name) %}
      <div class="organization-teaser__contact-item">
        <h4 class="organization-teaser__contact-title">{{ "Contact"|t }}</h4>
        {{ contact_info.name }} {{ contact_info.phone }} {{ contact_info.email }}
      </div>
    {% endif %}
    {% if (contact_info.website) %}
      <div class="organization-teaser__contact-item">
        <h4 class="organization-teaser__contact-title">{{ "Website"|t }}</h4>
        {{ contact_info.website }}
      </div>
    {% endif %}
    <a class="organization-teaser__link" href="{{ link }}">{{ "See full profile"|t }} {{ icons.get('icon-chevron') }}</a>
  </div>
</div>
