// Styling for Directory Search block.

// Import site utilities.
@import '../../global/utils/init';

.directory-search {
  background-color: $color-wedgewood;
  color: $color-white;
  padding: 40px;
  margin: 80px 0;

  @include breakpoint($bp-sm) {
    padding: 80px;
  }
}

.directory-search__heading {
  text-align: center;

  h3 {
    font-size: 1.5rem;

    @include breakpoint($bp-sm) {
      font-size: 2rem;
    }
  }
}

.directory-search__content {
  @include layout-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.directory-search__search-box {
  @include breakpoint($bp-xl) {
    max-width: 800px;
  }

  // Overrides for the search box only
  // in the Directory Search component.
  .search-api-page-block-form-search-results {

    input[type='text'],
    input[type='search'] {
      border: 0;
      height: 55px;
    }

    button[type='submit'],
    input[type='submit'] {
      width: 55px;
    }

    svg {
      height: 25px;
    }
  }
}
