{{ attach_library('collective_theme/tags') }}

{%
  set classes = [
    'tags'
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<div {{ attributes|raw }}>
  {%
    include '@collective_theme/heading/heading.twig' with {
      heading: {
        title: title,
        heading_level: heading_level|default('3'),
        attributes: title_attributes,
      }
    }
  %}
  <div class="tags__container">
    {% for tag in tags %}
      <a href="{{ tag.url }}" class="tag">
        {{ tag.name }}
      </a>
    {% endfor %}
  </div>
</div>
