@import '../../global/utils/init';

.breadcrumb__container {
  background-color: $color-bronco;
}

.breadcrumb {
  @include layout-content;
  padding: 15px 0;
}

.breadcrumb__item {
  color: $color-white;
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &:not(:first-of-type)::before {
    content: '>';
    color: $color-white;
    margin: 0 10px;
  }

  a {
    text-decoration: none;
    color: $color-white;

    &:hover {
      text-decoration: underline;
    }
  }
}
