@import '../../global/utils/init';

.main-menu {
  background-color: $color-wedgewood;
  display: none;

  @include breakpoint($bp-sm) {
    display: block;
    margin-left: -45px;
  }

  &.active {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    list-style: none outside;
    margin-left: 0;

    @include breakpoint($bp-sm) {
      @include layout-content;
      flex-direction: row;
    }

    a {
      text-decoration: none;
      color: $color-white;
    }

    .menu-item {
      display: flex;
      padding: 0;

      a {
        padding: 25px;

        &:hover {
          @include darken;
        }
      }
    }
  }

  .menu-item--active-trail {
    background-color: $color-mine-shaft;

    a {
      &.is-active {
        color: $color-white;
      }
    }
  }
}

.main-menu__navicon {
  background-color: $color-wedgewood;
  display: flex;
  align-items: center;
  color: $color-white;
  width: 100%;

  @include breakpoint($bp-sm) {
    display: none;
  }
}

.navicon {
  background-color: $color-wedgewood;
  cursor: pointer;
  display: block;
  height: 60px;
  padding: 16px;
  border: 0;

  @include breakpoint($bp-sm) {
    display: none;
  }

  .active & {
    .navicon__bar {
      width: 30px;

      &:nth-child(1) {
        transform: rotate(45deg) translate(0.0625rem, 0.0625rem);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.125rem, -0.0625rem);
      }
    }
  }

  @include breakpoint($bp-sm) {
    display: none;
  }
}

.navicon__bar {
  background-color: $color-white;
  border-radius: 0.125rem;
  display: block;
  height: 2px;
  transition: transform $transition, opacity $transition;
  width: 32px;

  &:nth-child(1) {
    transform: translate(0, -0.375rem);
  }

  &:nth-child(3) {
    transform: translate(0, 0.375rem);
  }
}
