{{ attach_library('collective_theme/user-account-nav') }}

{% if links %}
  <div class="user-account-nav">
    {% if links %}
      {%
        include '@collective_theme/menu/menu.twig' with
          {
            items: links
          } only
      %}
    {% endif %}
  </div>
{% endif %}
