@import '../../global/utils/init';

.user-account-nav {
  background: $color-scarpa-flow;

  .menu {
    @include max-width;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;

    li {
      display: flex;
      margin-left: 15px;
      padding: 0;

      a {
        text-decoration: none;
        color: $color-white;
        padding: 15px;
      }

      &:hover {
        @include darken;
      }
    }
  }
}
