{{ attach_library('collective_theme/card') }}

<article class="card {{ card.modifier ? ' ' ~ card.modifier }}
  {{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>

  {% block card_media %}
    <div class="card__media">
      {% if card.media.image %}
        {{ card.media.image }}
      {% elseif card.media.video %}
        {{ card.media.video }}
      {% endif %}
        {{ card.media.caption }}
    </div>
  {% endblock %}

  <div class="card__content">

    {% if card.eyebrow %}
      {%
        include '@collective_theme/eyebrow/eyebrow.twig' with {
          "eyebrow": card.eyebrow
        } only
      %}
    {% endif %}

    {%
      include '@collective_theme/heading/heading.twig' with {
        "heading": card.heading
      } only
    %}

    {% if card.subhead %}
      {%
        include '@collective_theme/heading/heading.twig' with {
          "heading": card.subhead
        } only
      %}
    {% endif %}

    {% if card.summary_text %}
      {%
        include '@collective_theme/body-text/body-text.twig' with {
          "body_text": card.summary_text
        } only
      %}
    {% endif %}

    {% if card.link %}
      <a href="{{ card.link.url }}" class="card__link">{{ card.link.text }}</a>
    {% endif %}
  </div>

</article>
