// Styling for News Cards.

// Import site utilities.
@import '../../global/utils/init';

.news-card {
  display: flex;
  flex-direction: column;
}

.news-card__title {
  text-decoration: none;
}

.news-card__image {
  margin-bottom: 15px;
}

.news-card__date {
  color: $color-gray-mid;
  margin-bottom: 15px;
}

.news-card__summary {
  margin-bottom: 15px;
}

.news-card__link {
  align-self: flex-start;
  color: $color-wedgewood;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid $color-wedgewood;

  svg path {
    fill: $color-wedgewood;
    margin-left: 5px;
  }
}
