// Styled Tables

// Import site utilities.
@import '../../global/utils/init';

.styled-table {
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: $color-wedgewood;
    color: $color-white;

    a {
      color: $color-white;
    }
  }

  td,
  th {
    border: 1px solid $color-gray-xlt;
    text-align: left;
    padding: 10px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
